/* Reinicio de los estilos  */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
    font-family: "Montserrat", sans-serif;
}

header {
    font-family: "Roboto", sans-serif;
    background-color: #241F21;
    border-bottom: 1px solid black;
}

.nav-barr {
    margin: 0 auto;
    width: 90%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.isquierdo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.medio {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lado-derecho {
    padding: 15px;
    display: flex;
    align-items: center;
}

.isquierdo img {
    border-radius: 50%;
    width: 20%;

}

.medio a {
    text-decoration: none;
    color: #fff;
}

/* color header #F0F0F3 */

.lado-derecho input {
    padding: 10px;
    border: none;
    width: 280px;
}

.lado-derecho input::placeholder {
    text-indent: 20px
}

.medio img {
    width: 20px;
}

.fot {
    background-color: #fff;
    display: flex;
    padding: 5px;
    border-radius: 50%;
    justify-content: center;
}

.cuadro,
.cuadro2,
.cuadro3 {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
}

.cuadro2 {
    width: 120px;
}

.cuadro {
    width: 105px;
}

.cuadro3 {
    width: 100px;
}

.bienvenida {
    background-color: #fff;
}

.seccion-bl-1 img {
    width: 45%;
    padding: 10px;
}

.seccion-bl-1 {


    display: flex;
    font-family: "Montserrat", sans-serif;
}

.seccion-bl-1 button {
    background-color: #2C2E33;
    color: #fff;
    padding: 5px 5px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.seccion-bl-1 p {
    color: #494747;
}

.descripcion {
    margin-top: 10px;
    width: 80%;
}

.btn {
    margin-top: 20px;
}

.seccion-bl-1 h2 {
    font-size: 35px;
}

.caja-contenido {
    top: 30px;
    position: relative;
    width: 35%;
    left: 90px;
}

.tres-cajitas {
    margin-top: 20px;

}

.todo {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.card {
    width: 350px;
    text-align: center;
}

.image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;

}

.name p {
    padding: 10px;
}

.sub-3 h2 {
    display: flex;
    margin-top: 50px;
    color: #ffff;
    justify-content: center;
}

.minitext {
    padding: 30px;
}

.minitext p {
    color: #ffff;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.reciente {
    border-bottom: 2px solid rgb(206, 201, 201);
    height: 700px;
    background-color: #241F21;
    border-top: 2px solid rgb(206, 201, 201);
}

.cajas {
    background-color: #fff;
    height: 450px;
    width: 31%;
    padding: 30px;

}

.caja-grande {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    padding: 5px 5px 5px;
    position: relative;
}

.plomo {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.circulo {
    border: 1px solid rgb(7, 7, 7);
    padding: 40px;
    border-radius: 100%;
    width: 37%;
    position: relative;
    top: -325px;
    right: 20px;
    background-color: #fff;
}

.circulo p {
    justify-content: center;
    display: flex;
}

.circulo2 {
    border: 1px solid rgb(7, 7, 7);
    padding: 40px;
    border-radius: 100%;
    width: 37%;
    position: relative;
    top: -325px;
    box-shadow: 2px 2px rgb(207, 206, 206);
    right: 20px;
    background-color: #fff;
}

.circulo2 p {
    justify-content: center;
    display: flex;
}

.plomo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
    box-shadow: 2px 2px rgb(212, 211, 211);
    border-radius: 10px;
}

footer {
    display: flex;
    padding: 15px;
    background-color: #fff;
    height: 250px;
    width: 100%;
}

.cajas button {
    background-color: black;
    color: #fff;
    border: none;
    transition: 0.50s;
    padding: 5px 5px 5px;
    height: 40px;
    border-radius: 10px;
    width: 200px;
}

.boton {
    display: flex;
    justify-content: center;
}

.boton button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.50s;
    background-color: #494747;
}

.logo2 img {
    width: 25%;
    border-radius: 100%;
}

.logo2 {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.isquierda1 {
    width: 30%;
    height: 190px;
    padding: 10px 10px;
}

.medio {   
    display: flex;
    justify-content: center;
}

.derechos {
    border-bottom: 1px solid black;
    padding: 5px;
}

.derecha1 {
    width: 20%;
    position: relative;
    left: 120px;
   
}

.images {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    justify-content: space-between;
}

.images img {
    width: 9%;
    cursor: pointer;
}